body {
  margin: 0px;
}

h2 {
  position: relative;
  float: left;
  margin: 0px;
  width: 142px;
  height: 64px;
  background-color: #141e2e;
  z-index: 99;
  border-top: 1px #a0a0a2 solid;
}

h2::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -1px;
}

ul {
  width: 100%;
  position: absolute;
  list-style: none;
  background-color: #141e2e;
  color: #fff;
  float: left;
  margin: 0px;
  padding: 0px 0px 0px 125px;
  border-top: 1px #a0a0a2 solid;
  font-family: 'Roboto', sans-serif;
}

li {
  display: inline-block;
  padding: 23px 0px 23px 70px;
  text-transform: uppercase;
}
